.pt-24{
    padding-top: 6rem;
}

.pt-26{
    padding-top: 7rem;
}

.py-12{
    padding:3rem 0;
}

.pb-16{
    padding-bottom: 4rem;
}

.px-50{
    padding: 0 15rem;
}

.pt-30{
    padding-top: 12rem;
}

.pb-18{
    padding-bottom: 9rem;
}