@use '../utilities/' as *;
@use '../abstracts/' as *;

.btn {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 4.5rem;
    white-space: nowrap;
    font-weight: 700;
    font-size:clamp(0.8rem, 1vw + .4rem, 1rem);

    @media(max-width:20.125em){
        padding: 1rem 2rem;
    }

    &--outline{
        border: 1px solid $bg-primary;
        color: $bg-primary;
        margin-top: 1rem;
        padding: .3rem 2rem; 
        transition: all 1s;

        @media (min-width:36em){
            margin-top: 0;
        }

        &:hover{
            opacity: 0.5;
        }
    }

    &--primary{
        background-color: $clr-primary-pink;
        color: #fff;
        transition: all 1s;
        &:hover{
            background-color:$clr-primary-lightPink;
        }
    }
    
    &--block{
        border-radius: 5px;
        background-color: $clr-primary-pink;
        color: #fff;
        margin-top: 1rem;
        justify-self: right;
        padding: 0.6rem 3rem;
        transition: all 1s;

        &:hover{
            background-color:$clr-primary-lightPink;
        }
    }
}

