.container{
    margin: auto;
    max-width: 90rem;

    &--nav{
        padding: 0 2rem;
    }

    &--hero{
        padding:0 3rem;
        max-width: 68rem;
        overflow: hidden;
    }

    &--stats{
        max-width: 50rem;
        margin: auto;
    }

    &--section{
        max-width: 80rem;
        margin: auto;
        padding: 0 2rem;
    }

    &--cta{
        padding: 0 3.5rem;
    }

    &--footer{
        padding:0 1.5rem;
    }
}