.curved-edges-1{
    background-image:url(../../dist/images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -1rem right 0;

    @media (min-width:40em) {
        background-image:url(../../dist/images/bg-section-top-desktop-1.svg);
    }
}

.curved-edges-2{
    background-image:url(../../dist/images/bg-section-bottom-mobile-1.svg), url(../../dist/images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat,no-repeat;
    background-size: contain;
    background-position: top -1rem left 0,bottom -1rem right 0;

    @media (min-width:40em) {
        background-image:url(../../dist/images/bg-section-bottom-desktop-2.svg), url(../../dist/images/bg-section-top-desktop-2.svg);
    }
}

.curved-edges-3{
    background-image:url(../../dist/images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -1rem left 0;

    @media (min-width:40em) {
        background-image:url(../../dist/images/bg-section-bottom-desktop-1.svg);
    }
}