@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

// Font stack
$ff-Opensans:'Open Sans', sans-serif;
$ff-popins: 'Poppins', sans-serif;

// Font weight
$fw-400:400;
$fw-600:600;
$fw-700:700;
